Xft.dpi:                        96
Xft.antialias:                  1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb

Emacs.font:			Roboto Mono:size=14

URxvt.font:			xft:Roboto Mono:size=12
URxvt*termName:                 rxvt-256color
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 110x50
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           30
URxvt.secondaryScreen:		true

URxvt.perl-ext:	 		default,matcher
URxvt.url-launcher:             chromium
URxvt.matcher.button: 		1

URxvt.perl-ext-common: tabbed,fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

!Seemingly you need to not use --nocpp in Xsession xrdb to use define directives
!See https://github.com/chriskempson/base16-xresources/issues/8
#define base00 #292D3E
#define base01 #444267
#define base02 #32374D
#define base03 #676E95
#define base04 #8796B0
#define base05 #959DCB
#define base06 #959DCB
#define base07 #FFFFFF
#define base08 #F07178
#define base09 #F78C6C
#define base0A #FFCB6B
#define base0B #C3E88D
#define base0C #89DDFF
#define base0D #82AAFF
#define base0E #C792EA
#define base0F #FF5370

*.foreground:   base06
*.background:   base02
*.cursorColor:  base0F

! black
*.color0:       base00
*.color8:       base03
! red
*.color1:       base08
*.color9:       base08
! green
*.color2:       base0B
*.color10:      base0B
! yellow
*.color3:       base0A
*.color11:      base0A
! blue
*.color4:       base0C
*.color12:      base0C
! magenta
*.color5:       base0E
*.color13:      base0E
! cyan
*.color6:       base0C
*.color14:      base0C
! white
*.color7:       base07
*.color15:      base07

rofi.color-enabled: true
rofi.color-window: base02, base08
rofi.color-normal: base01, base05, base02, base08, base07
rofi.width: 800
rofi.padding: 30
rofi.font: Roboto Mono:size 14
rofi.bw: 3
rofi.separator-style: solid
rofi.hide-scrollbar: true
